<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <category label="10000">
    <setting id="jumpbacksecs" type="slider" label="10001" default="0" range="0,60" />
    <setting id="waitforjumpback" type="slider" label="10002" default="10" range="0,600" />
  </category>
  <category label="20000">
    <setting id="jumpbacksecsfwdx2" type="slider" label="20001" default="2" range="0,60" />
    <setting id="jumpbacksecsfwdx4" type="slider" label="20002" default="4" range="0,60" />
    <setting id="jumpbacksecsfwdx8" type="slider" label="20003" default="8" range="0,60" />
    <setting id="jumpbacksecsfwdx16" type="slider" label="20004" default="16" range="0,60" />
    <setting id="jumpbacksecsfwdx32" type="slider" label="20005" default="32" range="0,60" />
  </category>
  <category label="30000">
    <setting id="jumpbacksecsrwdx2" type="slider" label="30001" default="2" range="0,60" />
    <setting id="jumpbacksecsrwdx4" type="slider" label="30002" default="4" range="0,60" />
    <setting id="jumpbacksecsrwdx8" type="slider" label="30003" default="8" range="0,60" />
    <setting id="jumpbacksecsrwdx16" type="slider" label="30004" default="16" range="0,60" />
    <setting id="jumpbacksecsrwdx32" type="slider" label="30005" default="32" range="0,60" />
  </category>
  <category label="40000">
    <setting id="ExcludeLiveTV" type="bool" label="40001" default="false"/>
    <setting id="ExcludeHTTP" type="bool" label="40002" default="false"/>    
    <setting id="ExcludePathOption" type="bool" label="40003" default="false" />
    <setting id="ExcludePath" type="folder" source="video" label="40004" default="" visible= "eq(-1,true)" enable="eq(-1,true)" />
    <setting id="ExcludePathOption2" type="bool" label="40003" default="false" visible= "eq(-2,true)" enable="eq(-2,true)" />
    <setting id="ExcludePath2" type="folder" source="video" label="40004" default="" visible= "eq(-1,true)" enable="eq(-1,true)" />
    <setting id="ExcludePathOption3" type="bool" label="40003" default="false" visible= "eq(-2,true)" enable="eq(-2,true)" />
    <setting id="ExcludePath3" type="folder" source="video" label="40004" default="" visible= "eq(-1,true)" enable="eq(-1,true)" />
  </category>
</settings>
